.App {
	text-align: center;
}

#gate-main {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 98vh;
	width: 98.66vw;
	/* background-image: linear-gradient(
		to bottom right,
		hsl(0, 100%, 50%),
		hsl(39, 100%, 50%),
		hsl(60, 100%, 50%),
		hsl(120, 100%, 25%),
		hsl(240, 100%, 55%),
		hsl(300, 100%, 25%)
	); */
	border-top: 1vh solid black;
	border-bottom: 1vh solid black;
	border-left: 0.66vw solid black;
	border-right: 0.66vw solid black;
}

.pyramid-icon {
	height: 400px;
	width: 400px;
	color: black;
}

.pyramid-icon:hover {
	cursor: pointer;
}

.pyramid-icon:active {
	color: blue;
}
